<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MageProfis_CustomerFilter>
            <version>1.0.1</version>
        </MageProfis_CustomerFilter>
    </modules>
    <global>
        <blocks>
            <customerfilter>
                <class>MageProfis_CustomerFilter_Block</class>
            </customerfilter>
        </blocks>
        <models>
            <customerfilter>
                <class>MageProfis_CustomerFilter_Model</class>
            </customerfilter>
            <!-- rewrite the category flat resource model to filter the flat catalog queries -->
            <catalog_resource>
                <rewrite>
                    <category_flat>MageProfis_CustomerFilter_Model_Catalog_Resource_Category_Flat</category_flat>
                </rewrite>
            </catalog_resource>
            <!-- rewrite the wishlist item collection to add the filter (by setting the event prefix and object) -->
            <wishlist_resource>
                <rewrite>
                    <item_collection>MageProfis_CustomerFilter_Model_Wishlist_Resource_Item_Collection</item_collection>
                </rewrite>
            </wishlist_resource>
            
        </models>
        <helpers>
            <customerfilter>
                <class>MageProfis_CustomerFilter_Helper</class>
            </customerfilter>
        </helpers>
        <resources>
            <customerfilter_setup>
                <setup>
                    <module>MageProfis_CustomerFilter</module>
                    <class>MageProfis_CustomerFilter_Model_Resource_Setup</class>
                </setup>
            </customerfilter_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <customerfilter_product_collection>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>catalogProductCollectionLoadBefore</method>
                    </customerfilter_product_collection>
                </observers>
            </catalog_product_collection_load_before>
            
            <catalog_category_collection_load_before>
                <observers>
                    <customerfilter_category_collection>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>catalogCategoryCollectionLoadBefore</method>
                    </customerfilter_category_collection>
                </observers>
            </catalog_category_collection_load_before>
            
            <catalog_product_load_after>
                <observers>
                    <customerfilter_product>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>catalogProductLoadAfter</method>
                    </customerfilter_product>
                </observers>
            </catalog_product_load_after>
            
            <catalog_category_load_after>
                <observers>
                    <customerfilter_product_category>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>catalogCategoryLoadAfter</method>
                    </customerfilter_product_category>
                </observers>
            </catalog_category_load_after>
            
            <sales_quote_merge_before>
                <observers>
                    <customerfilter_product_cart>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>salesQuoteMergeBefore</method>
                    </customerfilter_product_cart>
                </observers>
            </sales_quote_merge_before>
            
            <wishlist_item_collection_load_before>
                <observers>
                    <customerfilter_wishlist>
                        <type>singleton</type>
                        <model>customerfilter/observer</model>
                        <method>wishlistItemCollectionLoadBefore</method>
                    </customerfilter_wishlist>
                </observers>
            </wishlist_item_collection_load_before>
        </events>
        <translate>
            <modules>
                <customerfilter>
                    <files>
                        <default>MageProfis_CustomerFilter.csv</default>
                    </files>
                </customerfilter>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customerfilter>
                                            <title>Customer Filter</title>
                                        </customerfilter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>